*{
    margin: 0;
    padding: 0;
    background-color: #e1c699;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    text-align: center;
    padding: 20px;
}
.item-clases{
    padding-left: 50px;
}
.titulo-clase{
    font-size: 25px;
}
.items{
    padding-left: 50px;
    margin: 10px;
}
.parrafo-expl{
    padding: 20px 50px;
    border: solid black 1px;
}